In [ ]:
import pandas as pd
import numpy as np
import regex as re
import nltk
from Summarizers.utils import cleaned_list_of_sentences
from datasets import load_dataset
import pandas as pd
from nltk.tokenize import sent_tokenize
from collections import Counter

/Users/marysia/miniconda3/envs/myenv/lib/python3.8/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

# Load data

In [5]:
cnn_daily_dataset = load_dataset('cnn_dailymail', '3.0.0')
cnn_daily_dataset

DatasetDict({
    train: Dataset({
        features: ['article', 'highlights', 'id'],
        num_rows: 287113
    })
    validation: Dataset({
        features: ['article', 'highlights', 'id'],
        num_rows: 13368
    })
    test: Dataset({
        features: ['article', 'highlights', 'id'],
        num_rows: 11490
    })
})

In [6]:
train_df = pd.DataFrame.from_dict(cnn_daily_dataset['train']).drop(columns='id')
val_df = pd.DataFrame.from_dict(cnn_daily_dataset['validation']).drop(columns='id')
test_df = pd.DataFrame.from_dict(cnn_daily_dataset['test']).drop(columns='id')

#df = pd.concat([train_df,test_df, val_df], ignore_index=True)

In [8]:
test_df.head()

,article,highlights
0,(CNN)The Palestinian Authority officially beca...,Membership gives the ICC jurisdiction over all...
1,(CNN)Never mind cats having nine lives. A stra...,"Theia, a bully breed mix, was apparently hit b..."
2,"(CNN)If you've been following the news lately,...",Mohammad Javad Zarif has spent more time with ...
3,(CNN)Five Americans who were monitored for thr...,17 Americans were exposed to the Ebola virus w...
4,(CNN)A Duke student has admitted to hanging a ...,Student is no longer on Duke University campus...

# Explore test set

In [ ]:
def calculate_mean(df, column_name='highlights'):
    """
    Calculate the mean number of sentences across all summaries.
    """
    df[f'n_sentences{column_name}'] = df[column_name].apply(lambda x: len(sent_tokenize(x)))
    mean_sentences = df[f'n_sentences{column_name}'].mean()
    
    return df, mean_sentences

In [19]:
Counter(df['num_sentences'])

Counter({2: 993,
         3: 3981,
         4: 4126,
         1: 79,
         7: 192,
         5: 1470,
         6: 522,
         8: 75,
         9: 30,
         11: 9,
         18: 1,
         36: 1,
         27: 1,
         33: 1,
         10: 5,
         16: 1,
         19: 1,
         30: 1,
         24: 1})

In [10]:
df, mean_sentences = calculate_mean(test_df, column_name='article')

print(f"Mean number of sentences in documents: {mean_sentences}")

Mean number of sentences in documents: 33.37006092254134

In [12]:
df, mean_sentences = calculate_mean(test_df, column_name='highlights')

print(f"Mean number of sentences in referenced summaries: {mean_sentences}")

Mean number of sentences in referenced summaries: 3.7911227154046996